/* Google Font for the primary heading */
h1 {
    font-family: 'Archivo Black', sans-serif;
    font-size: 70px;
    color:#333;
}
/* This is the base styling for all HTML elements */
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; /* Font fallback in case the primary font is not available */
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
/* Header styling */
header {
    color: #fff;
    text-align: center;
    padding: 20px;
}
/* Navigation styling using flexbox for horizontal layout */
nav { 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
    background-color: ;
    display: flex;
    justify-content: center;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
nav li {
  display: inline;
  margin: 0 20px;
}
nav a {
  text-decoration: none;
  color: #333;
  font-weight: bolder;
}
/* Change the color when hovering */
nav a:hover {
    color: #fcbe11 /* Change to the desired hover color */
}
/* Section styling */
section {
    padding: 20px;
    text-align: center;
}  